In [1]:
import sys
import os

PROJECT_ROOT = os.path.abspath("..")
if PROJECT_ROOT not in sys.path:
    sys.path.append(PROJECT_ROOT)

In [2]:
import pandas as pd
from src.data_quality import *

df = pd.read_csv('../data/raw/creditcard.csv')

summary = data_quality_summary(df)
print(summary)

missing_report = missing_values_report(df)
missing_report.to_csv('../results/missing_values_report.csv')

basic_stats = basic_statistics(df)
basic_stats.head()

{'rows': 284807, 'columns': 31, 'duplicates': np.int64(1081), 'missing_values': np.int64(0)}

,count,mean,std,min,25%,50%,75%,max
Time,284807.0,9.481386e+04,47488.145955,0.000000,54201.500000,84692.000000,139320.500000,172792.000000
V1,284807.0,1.168375e-15,1.958696,-56.407510,-0.920373,0.018109,1.315642,2.454930
V2,284807.0,3.416908e-16,1.651309,-72.715728,-0.598550,0.065486,0.803724,22.057729
V3,284807.0,-1.379537e-15,1.516255,-48.325589,-0.890365,0.179846,1.027196,9.382558
V4,284807.0,2.074095e-15,1.415869,-5.683171,-0.848640,-0.019847,0.743341,16.875344